<!DOCTYPE html>
<html>
  <head>
    <title>Lightcamp HQ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <header class="bg-white dark:bg-slate-800 shadow">
      <div class="mx-auto max-w-5xl px-6 py-4 flex items-center justify-between">
        
        <div class="flex items-center gap-3">
          <%= link_to root_path do %>
            <%= image_tag("lightcamp_logo.png", alt: "Lightcamp Logo", class: "h-9 w-auto block dark:hidden") %>
            <%= image_tag("lightcamp_logo_dark.png", alt: "Lightcamp Logo", class: "h-9 w-auto hidden dark:block") %>
          <% end %>
          <span class="text-xl font-semibold text-slate-600 dark:text-slate-300">HQ</span>
        </div>

        <% if user_signed_in? %>
          <nav class="flex gap-6 text-sm font-medium">
            <%= link_to "Dashboard", root_path,
              class: "text-sm font-medium #{current_page?(root_path) ? 'text-red-600' : 'text-slate-600 dark:text-slate-300 hover:text-blue-400'}" %>
            <%= link_to "Meine Camps", camps_path,
              class: "text-sm font-medium #{current_page?(camps_path) ? 'text-red-600' : 'text-slate-600 dark:text-slate-300 hover:text-blue-400'}" %>
            <a href="#" class="text-slate-700 hover:text-blue-400">Leitung</a>
            <% if current_user.admin? %>
              <%= link_to "Admin", admin_path,
                class: "text-sm font-medium #{current_page?(admin_path) ? 'text-red-600' : 'text-slate-600 dark:text-slate-300 hover:text-blue-400'}" %>
            <% end %>
            <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "text-sm text-slate-600 dark:text-slate-300 hover:text-blue-400" %>
          </nav>
        <% end %>
      </div>
    </header>

    <main class="mx-auto max-w-5xl px-6 py-8">
      <%= yield %>
    </main>
  </body>
</html>
